name: Prek checks
on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - 'develop'

jobs:
  prek:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: j178/prek-action@v1
        with:
          extra-args: "--all-files check-merge-conflict trailing-whitespace end-of-file-fixer"